<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.here.android.example.autosuggest">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResultListActivity" />

        <!--Developers should put application credentials here.To obtain them, please register the application
         at https://developer.here.com/develop/mobile-sdks-->
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="{YOUR_APP_ID}" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="{YOUR_APP_CODE}" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="{YOUR_LICENSE_KEY}" />

         <!--Developers should always provide custom values for each of {YOUR_LABEL_NAME} and {YOUR_INTENT_NAME}.
         Do not reuse HERE Mobile SDK defaults.-->
        <meta-data
            android:name="INTENT_NAME"
            android:value="{YOUR_INTENT_NAME}" />
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="{YOUR_LABEL_NAME}"
            android:exported="false">
            <intent-filter>
                <action android:name="{YOUR_INTENT_NAME}"></action>
            </intent-filter>
        </service>
    </application>
</manifest>
